#set( $layout = "Admin.vm" )
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>#ID</th>
	                    <th>Title</th>
	                    <th>Slug</th>
	                    <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                #foreach($article in $articles)
                    <tr>
                        <td>$article.id</td>
	                    <td>$article.title</td>
	                    <td>$article.slug</td>
	                    <td>
                            <a href="/iliasApp/admin/articles/edit/$article.id" class="btn btn-sm btn-info">Edit</a>
		                    <form style="display:none;" id="deleteArticle$article.id" action="/iliasApp/admin/articles/delete/$article.id" method="POST">
			                    <input type="hidden" name="_method" value="DELETE" />
		                    </form>
		                    <button class="btn btn-sm btn-danger" onclick="document.getElementById('deleteArticle$article.id').submit();">Delete</button>
                        </td>
                    </tr>
                #end
                </tbody>
            </table>
        </div>
    </div>
</div>