<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron">
				<h1 class="display-4">$page.title</h1>
				<p class="lead">$!page.content</p>
                <hr class="my-4">
				<p class="small">$page.slug</p>
			</div>
		</div>
	</div>
</div>